    <!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="header container">
    <h1>Ready Set <span id="om">OM</span></h1>  			
 		<h3>Create, save, and share unique yoga sequences. 
 			<button class="btn btn-lg btn-primary btn-learn"><a href="/asanas">Get started &raquo;</a>
 			</button>
		</h3>
		   <!--<%= image_tag("om_calligraphy.svg", :alt => "om", :class => "om_img") %>-->

  </div>

  		  <% if notice || alert %>
		   	<div id="notifs">
					<p class="notice"><%= notice %></p>
      		<p class="alert"><%= alert %></p>
      	</div>
      <% end %>
</div>




