<div class="container">

  <% if notice || alert %>
    <div class="notifs">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
  <% end %>
	<%= react_component('YourAsanasList',
	                    { initialAsanas: @your_asanas },
	                    { prerender: true }) %>

</div>