/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
 	font-family: 'Droid Sans', serif;
}

#om {
	color: #5cb85c;
}

.jumbotron .h1, .jumbotron h1 {
 	font-weight: 900;
	font-family: 'Bree Serif', serif;
  color: #ccc;
}

.btn-default {
	font-family: 'Arvo', serif;
}

h2 {
	font-family: 'Bree Serif', serif;
}

.row {
}

.col-md-4 {

}

.header {
  padding-left: 10%;
  padding-right: 10%;
}