/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
 	font-family: 'Droid Sans', serif;
}

/* COLORS
	purple: #5c5cb8; / rgb(92, 92, 184)
	green: #5cb85c; / rgb(92, 184 ,92)
	blue: #5c8ab8; / rgb(92,138,184)
*/

.card {
	border: 2px solid black;
	height: 200px;
	width: 175px;
	padding: 0px 4px 0px 4px;
	display: inline-block;
	text-align: center;
	margin: 5px;
	box-sizing: border-box;
	background-color: rgba(92,138,184,.2);
}

.card:hover {
	/*border: 2px solid rgb(92,138,184);*/
	background-color: rgba(92,138,184,.4);
}

.card img {
	padding-top: 15px;
	width: 100px;
	height: 100px;
	text-align: center;
	position: relative;
}

.header .container {
	overflow: hidden;
	height: 400px;
}

.card .sanskrit {
	font-weight: bold;
}

.card .english {
	font-style: italic;
}

.btn-success a {
	color: white;
}

.navbar-header .btn {
	/*position: relative;*/
	margin-top: 8px;
}

#om {
	/*color: #5cb85c;*/
	/*color: #5c8ab8;*/
	color: rgb(92, 92, 184);
}

.jumbotron .h1, .jumbotron h1 {
 	font-weight: 900;
	font-family: 'Bree Serif', serif;
	color: rgba(92, 92, 184,.4);
	float: left;
	text-shadow: 1px 1px white;
  /*color: -webkit-linear-gradient(left, rgba(92, 92, 184,.4), rgba(92, 92, 184, 1)); /* For Safari 5.1 to 6.0 */*/
  /*color: -o-linear-gradient(right, rgba(92, 92, 184,.4), rgba(92, 92, 184, 1)); /* For Opera 11.1 to 12.0 */*/
  /*color: -moz-linear-gradient(right, rgba(92, 92, 184,.4), rgba(92, 92, 184, 1)); /* For Firefox 3.6 to 15 */*/
  /*color: linear-gradient(to right, #5c8ab8, #5c5cb8); /* Standard syntax */*/
}

.btn {
	font-family: 'Arvo', serif;    
	color: #fff;
  background-color: #5c8ab8;
  border-color: #5c5cb8;
}

.btn-primary {
	padding: 2px 4px 2px 4px;
	margin-right: 5px;
}

.btn:hover {
	color: white;
}

h2 {
	font-family: 'Bree Serif', serif;
}

h3 {
	display: inline-block;
	clear: both;
}

.btn-learn {
	font-family: inherit;
	font-size: inherit;
	padding-top: 0px;
	padding-bottom: 0px;
	vertical-align: baseline;
}

.om-img {
	float: right;
	position: absolute;
	left: 0;
	top: 0;
}


.row {
}

.col-md-4 {

}

footer {
	padding-left: 5%;
	padding-right: 5%;
	text-align: right;
}

.header {
  padding-left: 5%;
  padding-right: 5%;
}

p {
	margin-left: 5%;
	margin-right: 5%;
	font-size: 16px;
}

.input-group-addon {
	width: 200px;
}