<div class="container">
	<h2>
	  Public Sequences
	</h2>

	<ul>
	  <% @public_sequences.each do |sequence| %>
	    <li>
	      <%= link_to sequence.name, sequence %>
	    </li>
	  <% end %>
	</ul>

	<h2>
	  Your Sequences
	  <% if current_user %>
	  	<%= link_to "(+)", new_sequence_path %>
	  <% end %>
	</h2>

	<ul>
	  <% @user_sequences.each do |sequence| %>
	    <li>
	      <%= link_to sequence.name, sequence %>
	    </li>
	  <% end %>

	  <% if current_user && @user_sequences.length < 1 %>
	  	You haven't built any sequences yet.
	  <% end %>
	</ul>
</div>
