<div class="container">
	<h2>
	  Public Sequences
	</h2>

	<ul>
	  <% @public_sequences.each do |sequence| %>
	    <li>
	      <%= link_to sequence.name, sequence %>
	    </li>
	  <% end %>
	</ul>

	<% if current_user %>
		<h2>
		  Your Sequences
		  	<%= link_to "(+)", new_sequence_path %>
		</h2>

		<ul>
		  <% @user_sequences.each do |sequence| %>
		    <li>
		      <%= link_to sequence.name, sequence %>
		    </li>
		  <% end %>
		</ul>
	  <% if @user_sequences.length < 1 %>
	  	You haven't built any sequences yet.
	  <% end %>
	 	<% end %>
</div>
