<!-- Iterate through any sequences where public is true and display them -->

<p>2. On this page, iterate through any sequences where public is true and display them
(2.5. Javascript to display only when selected?)
3. AJAX for grabbing order of cards in dom
4. </p>